.loader {
  display: block;
  margin: calc(#{$global-margin} * 5) auto;
  text-align: center;

  .loader__component {
    display: inline-block;
  }
  .loader__text {
    display: inline-block;
    margin: 2rem 0 0;
  }
}
