<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>eisi.jsp</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/eisi/css/Estandar/Elise/Elise.css">
        <style>
        #centro {
          width: 100%; min-height: 300px;
          margin-bottom: 10px;
          border: 1px solid #AAA; border-radius: 2px;
        } 
        </style>
        <script>
        window.onload = function () {
          $('#centro').on('load', function (e) {
            Elise.win.fitIframe('centro', 'self', 300, 50);
          });
        };
        </script>
    </head>
    <body>
        <div class="row-fluid">

            <div class="span10 offset1">
                <h2>eisi.jsp ({{id}})</h2>
                <p>Esta es la página mostrada cuando el usuario se loguea (privada).</p>
                <p>Desde aquí se entra a las otras aplicaciones y/o servicios.</p>
                <ul>
                    <li><a href="/">index.jsp (LOGOUT)</a></li>
                    <li><a href="/escogerAula?id={{id}}&amp;subgroup={{subgroup}}" target="centro">Escoger aula</a></li>
                    {% if admin %}
                    <li><a href="/realtimeAdmin?id={{id}}" target="centro">Realtime admin</a></li>
                    {% endif %}
                </ul>
                <iframe id="centro" name="centro" src="/blank.html"></iframe>
            </div>

        </div>

        <!-- // SCRIPTS // -->
        <script src="/eisi/Scripts/jQuery/jquery.min.js"></script>
        <script src="/eisi/Scripts/Estandar/Elise.js"></script>

        <!-- // Portal Realtime // -->
        <script src="/eisi/Scripts/Portal/socket.js"></script>
    </body>
</html>