<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index.jsp</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/eisi/css/Estandar/Elise/Elise.css">
    </head>
    <body>
        <div class="row-fluid">
            <div class="span10 offset1">
                <h1>index.jsp</h1>
                <p>Esta es la página principal pública del portal del grupo Calumet en cuestión.</p>
                <p><a href="/login">Login para entrar a <strong>eisi.jsp</strong></a>.</p>
                <p>Esta página borra las cookies de seguridad de conexión con el sistema realtime.</p>
            </div>
        </div>
    </body>
</html>