@import 'src/settings';
@import 'src/design/mixins/images';

$user-photo-size: 2.4rem;
$user-status-width: 0.25rem;

.user {
  position: relative;
  display: block;
  line-height: 1.3;

  .user__row {
    display: table;
    width: 100%;
  }
  .user__col {
    display: table-cell;
    vertical-align: middle;
  }

  .user__col1 {
    width: calc(#{$user-photo-size} + #{$global-separation});
  }
  .user__photo {
    position: relative;
    display: block;
    height: $user-photo-size;
    width: $user-photo-size;
    @include images-user;
  }
  .user__moderator {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    font-size: 0.875rem;
    color: $moderator-color;
  }

  .user__col2 {
    //
  }
  .user__name {
    font-size: 1rem;
    font-family: $header-font-family;
  }
  .user__cat {
    font-size: 0.875rem;
    color: $secondary-color;
  }

  .user__col3 {
    width: $user-status-width;
  }
  .user__status {
    display: none;
    width: $user-status-width;
    height: $user-photo-size;
    border-radius: $global-radius;
    background-color: $connected-color;
  }

  //
  // Modifiers
  //
  &.user--online {
    .user__status {
      display: block;
    }
  }

  &.user--moderator {
    .user__moderator {
      display: block;
    }
  }

  //
  // Themes
  //
  &[data-theme="inverse"] {
    .user__name,
    .user__cat {
      color: $white;
    }
  }
}
