@import 'src/settings';

.users-list {
  display: block;

  .users-list__list {
    padding: 0 $global-padding;
  }

  // Component: user
  .user {
    padding: $global-padding 0;
  }
  .user + .user {
    border-top: 1px solid $medium-gray;
  }
}
