<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>aula.jsp</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/eisi/css/Estandar/Elise/Elise.css">
        <style>
          /* La aplicación real no está disponible para móbiles */
          #aula {min-width: 1000px;}
        </style>
        <link rel="stylesheet" href="/eisi/css/Estandar/animate.min.css">
        <link rel="stylesheet" href="/eisi/css/Aula/Chat/chat.css">
    </head>
    <body>
        <!-- // MAIN // -->
        <div id="aula" class="row-fluid">
            <div class="span10 offset1">
                <h2>aula.jsp ({{id}})</h2>
                <p>Aplicación del aula estudiantil. El estado del chat que implica al usuario se muestra, con el cual se puede abrir el aplicativo del chat.</p>
                <p>Materia: <strong>{{subject}}</strong>, grupo: <strong>{{group}}</strong> y subgroupo: <strong>{{subgroup}}</strong>.</p>
                <hr>
                <p>
                    <button id="chat-opt-trigger" class="boton">
                        <span class="icon icon_i8"></span>
                    </button>
                    <button id="aula-home" class="boton celeste">
                        <span class="icon icon_o6"></span>
                    </button>
                    <button id="aula-exit" class="boton rojo">
                        <span class="icon icon_l1"></span>
                    </button>
                </p>
            </div>
        </div>


        <!-- // CHAT APP // -->
        <div id="chat" class="outPhase">

            <!-- // CHAT SIDEBAR // -->
            <div class="chat-sidebar">

                <!-- // CHAT SIDEBAR HEAD // -->
                <div class="chat-sidebar-head">
                    <div class="chat-user-photo" style="background-image: url(/eisi/images/Aula/Chat/avatar.jpg)"></div>
                    <div class="chat-user-data">
                        <div class="chat-user-name">Nombre de usuario</div>
                        <div class="chat-user-profile">Perfil de usuario</div>
                    </div>
                    <button id="chat-opt-usersHide" class="boton boton-mini outPhase">
                        <span class="icon icon_j5"></span>
                    </button>
                </div>

                <!-- // CHAT SIDEBAR SUBHEAD // -->
                <div class="chat-sidebar-subhead">
                    <span>Usuarios de la sala</span>
                </div>

                <!-- // CHAT SIDEBAR LIST // -->
                <div class="chat-sidebar-content"></div>
            </div>

            <!-- // CHAT ROOMS // -->
            <div class="chat-rooms">

                <!-- // CHAT ROOMS HEADER // -->
                <div class="chat-rooms-header">
                    <div class="chat-rooms-name combo1 btn-group">
                        <button class="boton transparente" data-toggle="dropdown">
                            <span class="icon icon_i8"></span>
                            <span class="label">Sala de clase</span>
                            <b class="caret"></b>
                        </button>
                        <ul class="dropdown-menu"></ul>
                    </div>
                    <div class="chat-rooms-options">
                        <button id="chat-opt-users" class="boton transparente outPhase">
                            <span class="icon icon_e8"></span>
                        </button>
                        <button id="chat-opt-audio" class="boton transparente" title="Des/habilitar audio">
                            <span class="icon icon_l15"></span>
                        </button>
                        <button id="chat-opt-minimize" class="boton transparente" title="Minimizar">
                            <span class="icon icon_n1"></span>
                        </button>
                    </div>
                </div>

                <!-- // CHAT ROOMS LIST // -->
                <div class="chat-rooms-list"></div>

                <!-- // CHAT ROOMS FOOTER // -->
                <div class="chat-rooms-footer">
                    <form action="#" method="post">
                        <textarea id="chat-message" class="chat-message" placeholder="Enviar un mensaje..."></textarea>
                        <button type="button" hidden></button>
                    </form>
                </div>
            </div>
        </div>


        <!-- // CHAT TEMPLATES // -->
        <script id="chat-tml-room" type="text/template">
            <div id="<#=idAttr#>" class="chat-room <#=classAttr#>">
                <div class="chat-room-table">
                    <div class="chat-room-cell"></div>
                </div>
            </div>
        </script>
        <script id="chat-tml-roomUser" type="text/template">
            <div id="<#=idAttr#>" class="chat-user-box <#=state#>">
                <div class="chat-user-photo" style="background-image: url(<#=photo#>)"></div>
                <div class="chat-user-name"><#=name#></div>
                <div class="chat-user-profile"><#=profile#></div>
            </div>
        </script>
        <script id="chat-tml-roomMsg" type="text/template">
            <div id="<#=idAttr#>" class="block">
                <div class="chat-msg <#=classAttr#>">
                    <div class="chat-msg-avatar">
                        <img class="img-polaroid img-circle" src="<#=user.photo#>">
                    </div>
                    <div class="chat-msg-info">
                        <span class="name">
                            <strong class="indent"><#=user.name#></strong>
                        </span>
                        <span class="time" title="<#=time#>"><#=time#></span>
                    </div>
                    <div class="chat-msg-content"><#=content#></div>
                </div>
            </div>
        </script>


        <!-- // SCRIPTS // -->
        <script src="/eisi/Scripts/jQuery/jquery.min.js"></script>
        <script src="/eisi/Scripts/jQuery/jquery.timeago.min.js"></script>
        <script src="/eisi/Scripts/Estandar/Elise.dev.js"></script>
        <script src="/eisi/Scripts/Estandar/backbone.min.js"></script>
        <script src="/eisi/Scripts/Estandar/xdate.min.js"></script>
        <script src="/eisi/Scripts/Estandar/createjs.min.js"></script>

        <!-- // Scripts extras // -->
        <script>
        $('#aula-home').on('click', function(){Elise.notify.error('Acción no disponible.')});
        $('#aula-exit').on('click',function(){window.close()});
        </script>

        <!-- // Aula realtime // -->
        <script>
        // Aplicación chat.
        window.chat = _.extend({}, Backbone.Events);

        // Datos escritos por JSP.
        chat.data = {
          user: {id: '{{id}}'},
          teacher: {id: '{{teacher}}'},
          subject: '{{subject}}',
          group: '{{group}}',
          subgroup: '{{subgroup}}'
        };
        </script>
        <script src="/eisi/Scripts/Aula/Chat/connection.js"></script>
        <script src="/eisi/Scripts/Aula/Chat/ui.js"></script>
        <script src="/eisi/Scripts/Aula/Chat/main.js"></script>
    </body>
</html>
