<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>escogerAula.jsp</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/eisi/css/Estandar/Elise/Elise.css">
    </head>
    <body>
        <!-- // MAIN // -->
        <div class="row-fluid">
            <div class="span10 offset1">
                <h2>escogerAula.jsp ({{id}})</h2>
                <p>Salas de clase disponible. <b>Escoger de acuerdo al estudiante que eligió</b>:</p>
                <p class="block">
                    <select id="clases" name="clases">

                        <!-- PRIVATE: -->
                        <option value="20000_AA_{{subgroup}}_U0000">Clase</option>
                    
                    </select>
                </p>
                <p>Entrar al aula virtual logueado con el usuario elegido en la clase elegida.</p>
                <p class="block">
                    <button id="enter" class="boton azul">
                        <span class="icon icon_k8"></span>
                        <span class="label">Entrar al Aula</span>
                    </button>
                </p>
            </div>
        </div>


        <!-- // SCRIPTS // -->
        <script src="/eisi/Scripts/jQuery/jquery.min.js"></script>
        <script src="/eisi/Scripts/Estandar/Elise.js"></script>
        <script>
        $('#clases').select2({
          width: 200,
          minimumResultsForSearch: -1
        });
        $('#enter').on('click', function(e) {

          // Enviar datos de la clase al servidor.
          var clase = $('#clases').select2('val');
          Elise.popup({
            url: '/aula?clase=' + clase,
            width: 1024,
            height: 700
          });
        });
        </script>
    </body>
</html>