@import 'src/settings';

.room-group {
  display: block;
  margin: calc(#{$global-margin} * 2) 0 0;

  .room-group__header {
    display: block;
    margin: 0;
    line-height: 1.2;
    font-size: 1rem;
    font-weight: bold;
    font-family: $header-font-family;
    text-align: center;
    color: $secondary-color;
  }
  .room-group__separation {
    display: block;
    margin: $global-separation auto;
    border-top: 1px solid $medium-gray;
    width: 50%;
  }
  .room-group__content {
    //
  }
}
