@import 'settings';

.users-usercurrent {
  display: block;
  padding: 1rem;
  background-color: $primary-color;

  // Component: users-user
  .users-user {
    .users-user__name,
    .users-user__cat {
      color: $white;
    }
  }
}
