@import 'settings';
@import 'design/mixins/images';

$users-user-photo-size: 2.4rem;
$users-user-status-width: 0.25rem;

.users-user {
  position: relative;
  display: block;
  line-height: 1.3;

  .users-user__row {
    display: table;
    width: 100%;
  }
  .users-user__col {
    display: table-cell;
    vertical-align: middle;
  }

  .users-user__col1 {
    width: calc(#{$users-user-photo-size} + #{$global-separation});
  }
  .users-user__photo {
    position: relative;
    display: block;
    height: $users-user-photo-size;
    width: $users-user-photo-size;
    @include images-user;
  }
  .users-user__moderator {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    font-size: 0.875rem;
    color: $moderator-color;
  }

  .users-user__col2 {
    //
  }
  .users-user__name {
    font-size: 1rem;
    font-family: $header-font-family;
  }
  .users-user__cat {
    font-size: 0.875rem;
    color: $secondary-color;
  }

  .users-user__col3 {
    width: $users-user-status-width;
  }
  .users-user__status {
    display: none;
    width: $users-user-status-width;
    height: $users-user-photo-size;
    border-radius: $global-radius;
    background-color: $connected-color;
  }

  //
  // Modifiers
  //
  &.users-user--online {
    .users-user__status {
      display: block;
    }
  }

  &.users-user--moderator {
    .users-user__moderator {
      display: block;
    }
  }

  //
  // Themes
  //
  &[data-theme="inverse"] {
    .users-user__name,
    .users-user__cat {
      color: $white;
    }
  }
}
