@import 'src/settings';

.content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  // Component: .header
  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: $global-padding;
  }

  // Component: .room
  .room {
    height: 100%;
  }
}
