@import 'src/settings';

.base-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  // Component: .base-header
  .base-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: $global-padding;
  }

  // Component: .rooms-room
  .rooms-room {
    height: 100%;
  }
}
