@import 'settings';

.base-main {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  overflow: hidden;

  // Component: .base-aside
  .base-aside {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
  }

  // Component: .base-content
  .base-content {
    z-index: 5;
  }

  //
  // Breakpoints
  //
  @include breakpoint(large) {

    // Component: .base-aside
    .base-aside {
      width: $app-aside-width;
    }

    // Component: .base-content
    .base-content {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: calc(100% - #{$app-aside-width});
    }
  }
}
