@import 'src/settings';

.rooms-list-item {
  display: block;
  overflow: hidden;
  transition: all 250ms ease-out;
  cursor: pointer;
  line-height: 1.3;

  .rooms-list-item__container {
    display: table;
    width: 100%;
  }
  .rooms-list-item__icon {
    display: table-cell;
    width: 2rem;
    vertical-align: middle;
    font-size: 1.75rem;
    transition: all 250ms ease-out;
  }
  .rooms-list-item__name {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 0.875rem;
  }

  //
  // Modifiers
  //

  &:hover {
    background-color: $light-gray;
  }
  &.rooms-list-item--active {
    background-color: $medium-gray;
  }
  &.rooms-list-item--activity {
    .rooms-list-item__icon {
      animation: rooms-list-item-activity 1s ease-in 0s infinite alternate;
    }
  }
}

@keyframes rooms-list-item-activity {
  0% {
    color: $warning-color;
  }
  100% {
    color: lighten($warning-color, 25%);
  }
}
