@import 'src/settings';

.base-header {
  overflow: hidden;
  display: block;
  width: 100%;
  background-color: $primary-color;
  color: $white;
  text-align: left;

  .row {
    max-width: none;

    .base-header__content {
      padding-right: $global-separation;
      font-family: $header-font-family;
      font-weight: bold;
    }
    .base-header__title,
    .base-header__subtitle {
      margin: 0;
      line-height: 1.3;
    }
    .base-header__title {
      font-size: 1rem;
    }
    .base-header__subtitle {
      font-size: 0.875rem;
    }

    .base-header__menu {
      cursor: pointer;

      .mdi {
        font-size: 2rem;
      }
    }
  }

  //
  // Breakpoints
  //
  @include breakpoint(large) {
    .row {
      .base-header__menu {
        display: none;
      }

      .base-header__content {
        padding: 0;
      }
    }
  }
}
