@import 'settings';
@import 'design/mixins/images';

$rooms-message-photo-size: 2.5rem;

.rooms-message {
  display: block;
  overflow: hidden;
  text-align: left;

  .rooms-message__col {
    display: block;
    float: left;

    &:first-child {
      width: $rooms-message-photo-size;
    }
    &:last-child {
      padding-left: $global-separation;
      width: calc(100% - #{$rooms-message-photo-size});
    }
  }
  .rooms-message__photo {
    display: block;
    margin-top: $global-separation;
    width: $rooms-message-photo-size;
    height: $rooms-message-photo-size;
    @include images-user;
  }
  .rooms-message__name {
    display: inline-block;
    font-family: $header-font-family;
    font-weight: bold;
  }
  .rooms-message__time {
    display: inline-block;
    font-size: 90%;
    color: $secondary-color;
  }
  .rooms-message__moderator {
    display: inline-block;
    margin-top: -0.15px;
    line-height: 1;
    font-size: 130%;
    color: yellow;
    vertical-align: middle;
  }
  .rooms-message__content {
    //
  }
  .rooms-message__fragment {
    //
  }
}
