/*!
 * Universidad Industrial de Santander
 * Grupo de Desarrollo de Software Calumet
 * EISI | Aula | Chat | Design
 * Romel Pérez, prhone.blogspot.com
 * Duvan Vargas, @DuvanJamid
 * 2015
 **/

/* ------------------------------------------------------------------------- */
/* $ESTRUCTURA */

#chat {
  z-index: 10;
  position: absolute;
  overflow: hidden;
  left: 20px;
  top: 20px;
  width: 900px;
  height: 400px;
  border: 1px solid #AAA;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px #999;
     -moz-box-shadow: 0 0 20px #999;
          box-shadow: 0 0 20px #999;
}

#chat ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#chat ::-webkit-scrollbar-thumb {
  background: #D6D6D6;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: -3px -3px 6px #D1D1D1 inset,3px 3px 3px #ECECEC inset;
}


/* CHAT SIDEBAR */

.chat-sidebar {
  overflow: hidden;
  float: left;
  height: 100%;
  width: 250px;
  background: #444550;
}
.chat-sidebar > div {
  overflow: hidden;
  padding: 8px;
  width: 234px;
  font-size: 14px;
  line-height: 20px;
}


/* CHAT SIDEBAR HEAD */

.chat-sidebar-head {
  height: 50px;
  color: #fefefe;
  background-image: -webkit-linear-gradient(bottom, #3C3D45 0%,#44454F 100%);
  background-image:    -moz-linear-gradient(bottom, #3c3d45 0%,#44454f 100%);
  background-image:         linear-gradient(to top, #3C3D45 0%,#44454F 100%);
  -webkit-box-shadow: 0 1px 0 rgba(90, 91, 102, 0.53),inset 0 -1px 0 rgba(0, 0, 0, 0.32);
     -moz-box-shadow: 0 1px 0 rgba(90,91,102,0.53),inset 0 -1px 0 rgba(0,0,0,0.32);
          box-shadow: 0 1px 0 rgba(90, 91, 102, 0.53),inset 0 -1px 0 rgba(0, 0, 0, 0.32);
}

.chat-sidebar-head .chat-user-photo {
  float: left;
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid #333;
  -webkit-border-radius: 11px;
     -moz-border-radius: 11px;
          border-radius: 11px;
}
.chat-sidebar-head .chat-user-data {
  overflow: hidden;
  float: left;
  height: 50px;
}
.chat-sidebar-head .chat-user-name,
.chat-sidebar-head .chat-user-profile {
  padding-left: 10px;
  font-size: 14px;
  line-height: 25px;
  white-space: nowrap;
}
.chat-sidebar-head .chat-user-profile {
  color: #91D3FF;
  font-size: 13px;
}

.chat-sidebar-subhead {
  height: 20px;
  text-align: center;
  color: #fefefe;
  background-image: -webkit-linear-gradient(bottom, #3C3D45 0%,#44454F 100%);
  background-image:    -moz-linear-gradient(bottom, #3c3d45 0%,#44454f 100%);
  background-image:         linear-gradient(to top, #3C3D45 0%,#44454F 100%);
  -webkit-box-shadow: 0 1px 0 rgba(90,91,102,0.53),inset 0 -1px 0 rgba(0,0,0,0.32);
     -moz-box-shadow: 0 1px 0 rgba(90,91,102,0.53),inset 0 -1px 0 rgba(0,0,0,0.32);
          box-shadow: 0 1px 0 rgba(90,91,102,0.53),inset 0 -1px 0 rgba(0,0,0,0.32);
}


/* CHAT SIDEBAR CONTENT */

.chat-sidebar > div.chat-sidebar-content {
  height: 282px;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat-sidebar-users {
  display: none;
}
.chat-sidebar-users.active {
  display: block;
}

.chat-sidebar-content .chat-user-box:first-child {
  border-top: none;
}
.chat-sidebar-content .chat-user-box:last-child {
  border-bottom: none;
}

.chat-user-box {
  position: relative;
  overflow: hidden;
  padding: 5px;
  min-width: 230px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  color: #f9f9f9;
}
.chat-user-box:before {
  position: absolute;
  display: none;
  z-index: 2;
  margin-top: -10px;
  top: 50%;
  right: 10px;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow:  0 0px 6px #222,inset 0 1px 0px #FFF;
     -moz-box-shadow:  0 0px 6px #222,inset 0 1px 0px #FFF;
          box-shadow:  0 0px 6px #222,inset 0 1px 0px #FFF;
  content: "";
}
.chat-user-box.available:before {
  display: block;
  background-color: #3DC980;
  -webkit-animation: useronline 1s ease-in 0.3s 4;
     -moz-animation: useronline 1s ease-in 0.3s 4;
       -o-animation: useronline 1s ease-in 0.3s 4;
          animation: useronline 1s ease-in 0.3s 4;
}
.chat-user-box.away:before {
  display: block;
  background-color:#ED9C28;
  -webkit-animation: useronline 1s ease-in 0.3s 4;
     -moz-animation: useronline 1s ease-in 0.3s 4;
       -o-animation: useronline 1s ease-in 0.3s 4;
          animation: useronline 1s ease-in 0.3s 4;
}
.chat-user-box .chat-user-photo {
  display: inline-block;
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid #2b2b2b;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-size: cover;
}
.chat-user-box .chat-user-name {
  float: none;
  padding: 0px 5px 0px 50px;
  color: #fff;
  font-size: 13px;
}
.chat-user-box .chat-user-profile {
  float: none;
  padding: 0px 5px 0px 50px;
  color: #ccc;
  font-size: 12px;
}

@-webkit-keyframes useronline {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}
@-moz-keyframes useronline {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}
@keyframes useronline {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}


/* CHAT ROOMS */

.chat-rooms {
  overflow: hidden;
  float: right;
  width: 650px;
  height: 100%;
  background-color: #f6f7f8;
}


/* CHAT ROOMS HEADER */

.chat-rooms-header {
  padding: 5px;
  width: auto;
  height: 40px;
  background-image: -webkit-linear-gradient(bottom, #EDEDF0 0%,#FAFAFB 100%);
  background-image:    -moz-linear-gradient(bottom, #ededf0 0%,#fafafb 100%);
  background-image:         linear-gradient(to top, #EDEDF0 0%,#FAFAFB 100%);
  -webkit-box-shadow: 0 1px 0px #D4D7D7;
     -moz-box-shadow: 0 1px 0px #D4D7D7;
          box-shadow: 0 1px 0px #D4D7D7;
  text-align: center;
}

.chat-rooms-name {
  display: inline-block;
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  font-weight: bold;
}

.chat-rooms-options {
  float: right;
}


/* CHAT ROOMS LIST */

.chat-rooms-list {
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.chat-room {
  overflow: auto;
  display: none;
  width: 100%;
  height: 100%;
}
.chat-room.active {
  display: block;
}
.chat-room-table {
  display: table;
  width: 100%;
  height: 100%;
}
.chat-room-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}


/* CHAT ROOMS FOOTER */

.chat-rooms-footer {
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.chat-rooms-footer form {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.chat-message {
  display: block;
  margin: 0;
  padding: 5px;
  width: auto;
  height: 38px;
}


/* ------------------------------------------------------------------------- */
/* $MENSAJES */

.chat-msg {
  position: relative;
  width: auto;
  display: inline-block;
  position: relative;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: 0px 0px 9px 1px #CCC;
     -moz-box-shadow: 0px 0px 9px 1px #CCC;
          box-shadow: 0px 0px 9px 1px #CCC;
}
.chat-msg.cian {
   border: 1px solid #9ee8fa;
}
.chat-msg.orange {
   border: 1px solid #FFB371;
}
.chat-msg.cian {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6f9ff), color-stop(100%,#9ee8fa)); 
  background: -webkit-linear-gradient(top,  #d6f9ff 0%,#9ee8fa 100%);
  background:    -moz-linear-gradient(top,  #d6f9ff 0%, #9ee8fa 100%);
  background:         linear-gradient(to bottom,  #d6f9ff 0%,#9ee8fa 100%); 

}
.chat-msg.orange {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFEBD7), color-stop(100%,#FFB371)); 
  background: -webkit-linear-gradient(top,  #FFEBD7 0%,#FFB371 100%); 
  background:    -moz-linear-gradient(top,  #FFEBD7 0%, #FFB371 100%); 
  background:         linear-gradient(to bottom,  #FFEBD7 0%,#FFB371 100%); 
}

/*--- Se hace la flecha ---*/
.chat-msg:after,
.chat-msg:before {
  position: absolute;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
}

/*--- Alinear a la izquierda ---*/
.chat-msg.pull-left:before {
  border-width: 8px 8px 8px 0;
  top: 6px;
  left: -9px;
  z-index: 1;
}
.chat-msg.pull-left:after {
  border-width: 8px 8px 8px 0;
  top: 6px;
  left: -7px;
  z-index: 2;
}
.chat-msg.cian.pull-left:before {
  border-right-color: #9ee8fa;
}
.chat-msg.cian.pull-left:after {
  border-right-color: #d6f9ff;
}
.chat-msg.orange.pull-left:before {
  border-right-color: #FFB371;
}
.chat-msg.orange.pull-left:after {
  border-right-color: #FFEBD7;
}

/*--- Alinear a la derecha ---*/
.chat-msg.pull-right:before {
  border-width: 8px 0 8px 8px;
  top: 6px;
  right: -9px;
  z-index: 1;
}
.chat-msg.pull-right:after {
  border-width: 8px 0 8px 8px ;
  top: 6px;
  right: -7px;
  z-index: 2;
}
.chat-msg.cian.pull-right:before {
  border-left-color: #9ee8fa;
}
.chat-msg.cian.pull-right:after {
  border-left-color: #d6f9ff;
}
.chat-msg.orange.pull-right:before {
  border-left-color: #FFB371;
}
.chat-msg.orange.pull-right:after {
  border-left-color: #FFEBD7;
}

.chat-msg > .chat-msg-avatar {
  position: absolute;
  display: inline-block;
  top: 0;
  width: auto;
}
.chat-msg.pull-left > .chat-msg-avatar {
  left: -65px;
}
.chat-msg.pull-right > .chat-msg-avatar {
  right: -65px;
}
.chat-msg > .chat-msg-avatar > img{
  width: 40px;
  height: 40px;
}

.chat-msg > .chat-msg-info {
  padding: 1px 10px;
  font-size: 0.7em;
}
.chat-msg > .chat-msg-content {
  padding: 3px 10px;
  font-size: 0.8em;
}
.chat-msg > .chat-msg-info {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      border-radius: 2px;
}
.chat-msg.cian > .chat-msg-info {
  color: #323B6F;
  border-bottom: 1px solid #9EE8FA;
}
.chat-msg.orange > .chat-msg-info {
  color: #6F3232;
  border-bottom: 1px solid #FFB371;
}
.chat-msg.pull-right > .chat-msg-info {
 text-align: right;
}
.chat-msg.pull-left > .chat-msg-info > .name {
  display: inline-block;
  margin-right: 100px;
  min-width: 150px;
}
.chat-msg.pull-right > .chat-msg-info > .name {
  display: inline-block;
  margin-left: 120px;
  min-width: 150px;
} 
.chat-msg.pull-right > .chat-msg-info > .time {
  color: #555;
  text-align: right;
  position: absolute;
  left: 10px;
  top: 3px;
}
.chat-msg.pull-left > .chat-msg-info > .time {
  color: #555;
  text-align: right;
  position: absolute;
  right: 10px;
  top: 3px;
}
.chat-msg > .chat-msg-content {
  -webkit-border-bottom-left-radius: 2px;
      -moz-border-radius-bottomleft: 2px;
          border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
      -moz-border-radius-bottomright: 2px;
          border-bottom-right-radius: 2px;
  float: none;
  width: auto;
} 
.chat-msg > .chat-msg-content > p {
  margin: 1px 0 1px;
}
.chat-msg.cian > .chat-msg-content {
  border-top: 1px solid #d6f9ff;
}
.chat-msg.orange > .chat-msg-content {
  border-top: 1px solid #FFEBD7;
}
