@import 'src/settings';

.room {
  display: block;
  overflow-y: auto;

  .room__container {
    display: table;
    width: 100%;
    height: 100%;
  }
  .room__content {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
  }

  // Component: room-group
  .room-group {
    padding-left: $global-padding;
    padding-right: $global-padding;
  }

  // Component: room-type
  .room-type {
    margin-top: $global-margin;
  }
}
