@import 'settings';

.rooms-roomslistitem {
  display: block;
  overflow: hidden;
  transition: all 250ms ease-out;
  cursor: pointer;
  line-height: 1.3;

  .rooms-roomslistitem__container {
    display: table;
    width: 100%;
  }
  .rooms-roomslistitem__icon {
    display: table-cell;
    width: 2rem;
    vertical-align: middle;
    font-size: 1.75rem;
    transition: all 250ms ease-out;
  }
  .rooms-roomslistitem__name {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 0.875rem;
  }

  //
  // Modifiers
  //

  &:hover {
    background-color: $light-gray;
  }
  &.rooms-roomslistitem--active {
    background-color: $medium-gray;
  }
  &.rooms-roomslistitem--activity {
    .rooms-roomslistitem__icon {
      animation: rooms-roomslistitem-activity 1s ease-in 0s infinite alternate;
    }
  }
}

@keyframes rooms-roomslistitem-activity {
  0% {
    color: $warning-color;
  }
  100% {
    color: lighten($warning-color, 25%);
  }
}
