@import 'settings';

.users-userslist {
  display: block;

  .users-userslist__list {
    padding: 0 1rem;
  }

  // Component: users-user
  .users-user {
    padding: 1rem 0;
  }
  .users-user + .users-user {
    border-top: 1px solid $medium-gray;
  }
}
