@import 'src/settings';

.room-type {
  position: relative;
  width: 100%;
  border-top: 1px solid $dark-gray;

  .room-type__textarea {
    display: block;
    margin: 0;
    border: none;
    padding: $global-padding;
    padding-right: calc(#{$global-padding} * 4);
    width: 100%;
    max-height: 8rem;

    font-size: 1rem;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    transition: all 250ms ease-out;
  }
  .room-type__button {
    position: absolute;
    right: $global-padding;
    bottom: calc(#{$global-padding} / 2);

    display: block;
    padding: calc(#{$global-padding} / 2);

    font-size: 1.125rem;
    color: $primary-color;

    background-color: $medium-gray;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba($medium-gray, 0.5);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: all 250ms ease-out;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}
