@import 'src/settings';

.room-type {
  position: relative;
  width: 100%;
  border-top: 1px solid $dark-gray;

  .room-type__textarea {
    display: block;
    margin: 0;
    border: none;
    padding: $global-padding;
    padding-right: calc(#{$global-padding} * 4);
    width: 100%;
    max-height: 8rem;

    font-size: 1rem;
    border-radius: 0;
    box-shadow: none;
    resize: none;
    transition: all 250ms ease-out;
  }
  .room-type__button {
    position: absolute;
    right: $global-padding;
    bottom: calc(#{$global-padding} / 2);

    display: block;
    padding: calc(#{$global-padding} / 2);

    font-size: 1.125rem;
    color: $primary-color;

    background-color: $medium-gray;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba($medium-gray, 0.5);
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: all 250ms ease-out;
  }

  &.room-type--disabled {
    user-select: none;

    .room-type__textarea {
      color: $dark-gray;
    }
    .room-type__button {
      cursor: not-allowed;
      color: $dark-gray;
    }
  }

  &:not(.room-type--disabled) {
    .room-type__button {
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
}
