@import 'src/settings';
@import 'src/design/mixins/images';

$message-photo-size: 2.4rem;

.message {
  display: block;
  overflow: hidden;
  text-align: left;

  .message__col {
    display: block;
    float: left;

    &:first-child {
      width: $message-photo-size;
    }
    &:last-child {
      padding-left: $global-separation;
      width: calc(100% - #{$message-photo-size});
    }
  }
  .message__photo {
    display: block;
    margin-top: $global-separation;
    width: $message-photo-size;
    height: $message-photo-size;
    @include images-user;
  }
  .message__name {
    display: inline-block;
    font-family: $header-font-family;
    font-weight: bold;
  }
  .message__time {
    display: inline-block;
    font-size: 90%;
    color: $secondary-color;
  }
  .message__moderator {
    display: inline-block;
    margin-top: -0.15px;
    line-height: 1;
    font-size: 130%;
    color: $moderator-color;
    vertical-align: middle;
  }
  .message__content {
    //
  }
  .message__fragment {
    //
  }
}
